node_modules/
.expo/
.expo-shared/
dist/
build/
coverage/
*.log
.env
.DS_Store
android/
ios/
__mocks__/
babel.config.js
metro.config.js
jest.config.js
jest.setup.js
.eslintrc.js
.prettierrc.js
.commitlintrc.js
.releaserc.js
scripts/
functions/
public/
